/************************
 Main body
 ************************/
body {
      max-width: 1280px;
      background: #E9E7E8;
      font-family: 'Exo', sans-serif;
}

/************************
 styling
 ************************/

 /*--------- header --------------*/


 .links {
        max-width: 1280px;
        text-align: center;
        font-family: 'Righteous', cursive;
        text-transform: uppercase;
        color: #A4B1BB;
        font-size: 5px;

 }

 .links li {
        list-style: none;
        display: inline-block;
        font-size: 15px;
        padding-left: 15px;


 }

 .links a {
        text-decoration: none;
        color: #A4B1BB;

 }


/*-------- main body ---------*/

.photo {
      clear: both;
      margin:0;
      padding-top: 220px;
      background-image: url(../Imgs/coast-540123_1280.jpg);
      height: 500px;
      background-position: center;
      background-size: cover;

}

.photo pre {
        clear: both;
        text-align: left;
        font-size: 30px;
        hight: 500px;
        line-height: 50px;
        margin: 0;

}

.photo span {
          font-weight: bolder;
}


.photo strong {
            color: #EB8258;
}



/*------- about ------------*/

.about {
  clear: both;

}

.about h2 {
          text-align: center;
          text-transform: uppercase;
          font-family: 'Orbitron', sans-serif;
}

.p1,
.p2 {
    line-height: 25px;
    padding: 5px;
    text-align: justify;
}

.p1 {
    max-width: 500px;
    padding-left: 50px;
}

.p2 {
    max-width: 500px;
    padding-left: 100px;
}


/*------- portfolio ------------*/

.portfolio h2 {
            font-family: 'Orbitron', sans-serif;
}


/*------- skils ------------*/

#work {
  clear: both;
}



 /************************
  positioning
  ************************/

.p1, .p2 {
        float: left;
        margin: 2.5px;
}
