/* ===================== base styles ========================== */


body {
    background-color: #E1E1E3;
}

#portfolio,#work,#jubilee,#holstee,#rogue {
          height: 600px;
}


h2 {
  padding: 50px 0;
  font-family: 'Righteous', cursive;
  text-transform: uppercase;
  text-align: center;
  clear: both;
  margin:0;
}

p {
  text-align: justify;
  font-family: 'Exo', sans-serif;
}

 a:link {
      text-decoration: none;
      color: #FF422E;
}

.skillcrush a:visited{
        color: #D81C21;
}

.skillcrush a:hover{
        color: #FFF9F9;
}

.teamtreehouse a:visited{
        color: #2DBF78;
}

.teamtreehouse a:hover{
        color: #FFF9F9;
}

/* ===================== grid ========================== */

.full-width {
      width: 1280px;
      margin: 0 auto;
}

.half-width {
      float: left;
      width: 640px;
}

.third-width {
      float: left;
      width: 425px;
}


/* ===================== header ========================== */

header {
      background-image: url(../imgs/coast-540123_1280.jpg);
      height:720px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      text-align: center;
}

header li {
        display: inline;
        text-transform: uppercase;
        font-weight: 600;
}

header ul {
        padding: 0px;
        color: firebrick;
        font-size: 20px;
        margin: 0px;
        padding-top: 20px;
}

header a {
      text-decoration: none;
      list-style: none;
      padding-left: 40px;
}

header a:link {
      color: #FF422E;
}

header a:visited{
  color: #F7FFFF ;
}

header a:hover{
        color: #fff ;
}


header h2 {
        padding-top: 230px;
        padding-left: 10px;
        font-size: 28px;
        color: #EFF8F4;
        font-family: 'Exo', sans-serif;
        font-weight: normal;
        text-align: left;
        text-transform: none;
}

header h2 span  {
        font-weight:600;
}

header h2 strong {
          color: #FF422E;
          font-weight: 600;
}

/* ===================== about ========================== */

.about p {
      padding: 0 20px;
}

/* ===================== portfolio ========================== */


/* ====== jubilee ====*/


#jubilee-text {
          text-align: center;
          padding-bottom: 100px;
}

#jubilee-text h4 {
        padding-bottom: 20px;
}

#jubilee-text p {
        padding: 0 60px;
}

#jubilee-text a {
            text-decoration: none;
            font-weight: 700;
}

#jubilee-text span {
          color: #FF422E;
}

/* ====== holstee ====*/

#holstee-text {
          text-align: center;
          padding-bottom: 100px;
          padding-top: 70px;
}

#holstee-text h4 {
        padding-bottom: 20px;
}

#holstee-text p {
        padding: 0 60px;
}

#holstee-text a {
              text-decoration: none;
              color: #00A8E8;
}

#holstee-text a:link {
        color: #FF422E;
}

#holstee-text a:visited{
        color: #3BE362;
}

#holstee-text a:hover{
        color: #FFF9F9;
}

#holstee-text span {
          color: #FF422E;
}

/* ====== rogue ====*/

#rogue .half-width {
          padding-top: 30px;
}

#rogue-text {
          text-align: center;
          padding-bottom: 100px;
          padding-top: 100px;
}

#rogue-text h4 {
        padding-bottom: 20px;
}

#rogue-text p {
        padding: 0 60px;
}

#rogue-text span {
          color: #FF422E;
}

/* ===================== work ========================== */

#work {
    text-align: center;
}

#work li {
    list-style: none;
    text-align: left;
    line-height: 25px;
    padding-left: 30px;
}


#work p{
      padding: 20px;
}

#photoshop li {
      padding-bottom: 16px;
}


/* ===================== contact ========================== */

#contact {
      height: 400px;
      clear: both;
}
 #email p {
      text-align: center;
      margin: 0px;
      padding-bottom: 30px;
 }

#media {
        text-align: center;
}

#media h3 {
        font-size: 16px;
        margin: 0px;
        padding-bottom: 20px;
}

#media ul {
        margin: 0;
        padding-left: 0px;
}

#media li {
        list-style: none;
        display: inline;
}

/* ===================== footer ========================== */

footer {
    background-color: #EB8258;
    font-size: 20px;
}

footer h3 {
      text-align: center;
      font-family: cursive;
      margin: 0px;
      padding: 40px 0;
      clear: both;
}
